<h1>Crossolutions - CRUD de Semáforos</h1>
<h4 class="text-danger">Semáforos Cadastrados: </h4>
<div class="row">
  <div class="col">
    <app-card-semaforo
      [foto]="foto"
      [nomeSemaforo]="nomeSemaforo"
      [idSemaforo]="idSemaforo"
      [dataAdicionado]="dataAdicionado"
    ></app-card-semaforo>
  </div>
  <div class="col">
    <app-card-semaforo
    foto = "https://img.freepik.com/fotos-premium/foco-seletivo-de-um-semaforo-com-uma-rua-movimentada-ao-fundo_856987-61.jpg"
    nomeSemaforo= "Semáforo 2"
    [idSemaforo]="2"
    dataAdicionado="2017-10-05"
    ></app-card-semaforo>
  </div>
</div>
